.compliance-header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(81, 114, 226, 0.5)), to(rgba(0, 0, 0, 0.9))), url(BG-Images/bigben.jpg);
	background-image: linear-gradient(rgba(81, 114, 226, 0.5), rgba(0, 0, 0, 0.9)), url(BG-Images/bigben.jpg);
	height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:bottom;
	background-attachment: fixed;
	border-bottom: 5px solid #0000f5;
}

.heading-text {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-18%, -240%);
	transform: translate(-18%, -240%);
	font-size: 110%;
	word-spacing: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-compliance p {
	font-size: 85%;
	width: 90%;
	margin-top: 20px;
	padding: 5px;
}

.section-compliance {
	background-color: #f4f2ee;
}

/****MEDIA QUERIES*****/

@media only screen and (max-width: 1023px){
	body {
		font-size: 80%;
	}
	.heading-text {
	width: 100%;
}
}

@media only screen and (max-width: 775px){
	.heading-text {
	margin: 0;
}
}

@media only screen and (max-width: 700px){
.heading-text {
	width: 100%;
	left: 40%;
	font-size: 110%;
}
}

@media only screen and (max-width: 500px){
.heading-text {
	left: 30%;
	font-size: 100%;
}
}