* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #000;
	overflow-x: hidden;
	color: #bca96e;
	font-family: 'Noto Serif TC', serif;
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

h1 {
	margin: 0;
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-24%, -380%);
	font-weight: 400;
}

.logo {
	height: 110px;
	width: auto;
	margin-top: 40px;
	margin-left: 37%;
}

.vl {
	border-left: 2px solid #bca96e;
	height: 350px;
	margin-top: 7%;
	margin-left: 50%;
}